<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyx.goods.mapper.AuditMapper">

    <select id="getAuditById" resultType="java.lang.Long">
        SELECT state FROM `gms_goods_audit` WHERE goods_id=#{id} and state=1
    </select>
</mapper>